<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVT</title>
    
    <style>
        body{
          background-color: blue
        }
          .color-fondo {
           background-color: aqua;
           padding:35px;
           color:black;
           text-align: center

          }
       
    </style>
</head>


<body>
    <h1 size : "15" style = "color: grey ;"> Este es mi primer MVT</h1>
    <br>
    <hr>
    <br>
    <h2><b>Integrantes de la familia</b></h2>
    <h3><b>Primer Familiar</b></h3>
    <ul>
      <li>{{familiar.nombre}}</li>
      <li>{{familiar.apellido}}</li>
      <li>{{familiar.email}}</li>
      <li>{{familiar.empleado}}</li>
    </ul>
    <h3><b>Segundo Familiar</b></h3>
    <ul>
      <li>{{familiar1.nombre}}</li>
      <li>{{familiar1.apellido}}</li>
      <li>{{familiar1.email}}</li>
      <li>{{familiar1.empleado}}</li>
    </ul>
    <h3><b>Tercer Familiar</b></h3>
    <ul>
      <li>{{familiar2.nombre}}</li>
      <li>{{familiar2.apellido}}</li>
      <li>{{familiar2.email}}</li>
      <li>{{familiar2.empleado}}</li>
    </ul>
    <h3><b>Cuarto Familiar</b></h3>
    <ul>
      <li>{{familiar3.nombre}}</li>
      <li>{{familiar3.apellido}}</li>
      <li>{{familiar3.email}}</li>
      <li>{{familiar3.empleado}}</li>
    </ul>
    <h3><b>Quinto Familiar</b></h3>
    <ul>
      <li>{{familiar4.nombre}}</li>
      <li>{{familiar4.apellido}}</li>
      <li>{{familiar4.email}}</li>
      <li>{{familiar4.empleado}}</li>
    </ul>
    <div class="color-fondo">
    




    


    
    </div>
</body>
</html> 
